<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add person</title>
</head>
<body>

<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="name">Введите ФИО: </label>
    <input type="text" th:field="*{fio}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('fio')}" th:errors="*{fio}">Name error</div>
    <br/>
    <label for="name">Введите год рождения: </label>
    <input type="text" th:field="*{yearOfBirth}" id="age"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">Age error</div>
    <br/>
    <label for="name">Введите email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br/>
    <input type="submit" value = "Создать!"/>
</form>

</body>
</html>