<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text = "${book.getName()}">value</title>
</head>
<body>
<p th:text ="${book.getName()}">value</p>
<p th:text ="${book.getAuthor()}">value</p>
<p th:text ="${book.getYear()}">value</p>
<hr/>
<div th:if="${owner}">
    <span th:text="${'Книга находится у пользователя ' + owner.getFio()}">Person name</span>
    <form th:method="PATCH" th:action="@{/books/{id}/free(id=${book.getId()})}">
        <input type="submit" value="Освободить"/>
    </form>
</div>
<div th:if="${owner == null}">Книга свободна
    <p>Назначить владельца</p>
    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
        <select th:object="${person}" th:field="*{id}" id ="person">
            <option th:each ="person : ${people}" th:value="${person.getId()}" th:text="${person.getFio()}">
            </option>
        </select>
        <input type="submit" value="Назначить"/>
    </form>
</div>
<hr/>
<a th:href="@{{id}/edit(id=${book.getId()})}">Изменить</a>
<br/>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>